body{
    overflow:hidden;
}

.teko-title {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
/* .teko-body {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
} */
.background-fade-out {
    transition: background-color 1s ease-in-out 4s; /* adjust the duration and timing function here */
    background-color: #000; /* or any other color you want */
}

h1 {
    font-family: "Teko", sans-serif;
    font-size: 10vw;
    color: black;
    position: relative;
    width: fit-content;
    display: inline-block;
    margin: 0;
}

.s,.o,.p,.h{
    transition: opacity 5s ease-out 4.5s;
}

.hide {
    opacity: 0!important;
    transition: opacity 1s ease-out 4.5s;
}

.s {
    top: 35vh;
    left: 45vw;
    animation: slide-in-s 1.5s ease-out;
}

.o {
    position: absolute;
    top: -100%;
    left: 51vw;
    animation: slide-in-o 1s ease-out forwards;
    animation-delay:1s;
    transform: rotate(90deg);
}

.p {
    position: absolute;
    top: 44vh;
    left: 100vw;
    transform: rotate(180deg);
    animation: slide-in-p 1s ease-out forwards;
    animation-delay: 2s;
}

.h {
    position: absolute;
    top: 100vh;
    left: 47vw;
    transform: rotate(270deg);
    animation: slide-in-h 1s ease-out forwards;
    animation-delay: 3s;
}

@keyframes slide-in-s {
    0% {
        left: -100%;
    }
    100% {
        left: 45vw;
    }
}

@keyframes slide-in-o {
    0% {
        top: -100%;
    }
    100% {
        top: 33vh;
    }
}

@keyframes slide-in-p {
    0% {
        left: 100vw;
    }
    100% {
        left: 53vw;
   }
}

@keyframes slide-in-h {
    0% {
        top: 100vh;
    }
    100% {
        top: 47vh;
    }
}

.topics {
    margin: 1px solid white;
    padding: 20px;
    margin-top: 5vh;
    margin-bottom:10vh;
    display: none;
    width: fit-content;
    height: 80vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.portfolio,.inspiration,.information {
    border: 1px solid white; /* or any other border style you prefer */
    transition: border-radius 0.1s; /* add this line */
    display: block;
    justify-content: center;
    align-items: center;
}

.portfolio h2, .inspiration h2, .information h2{
    margin-top: 55px;
    text-align: center;
}

.portfolio:hover,.inspiration:hover,.information:hover,.portfolio:active,.inspiration:active,.information:active{
    background-color: white;
    color: black;
}
  
.portfolio{
    background-color:black;
    width: 25vh;
    height: 25vh;
    padding: 10px;
    margin: -15px 0px 20px -10px;
}

.inspiration{
    background-color:black;
    width: 25vh;
    height: 25vh;
    padding: 10px;
    margin: 20px 0px 20px -10px;
}

.information{
    background-color:black;
    width: 25vh;
    height: 25vh;
    padding: 10px;
    margin: 20px 0px 20px -10px;
}

h2{
    font-family: 'teko', sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    color: black;
}

.content{
    background-color:red;
    width: calc(100vw - 110%);
    height:90vh;
    z-index: 3;
    position:absolute;
    top:0;
    left: 100%;
}