body{
    /* overflow:hidden; */
    /* overflow-x:hidden; */
}

.teko-title {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
/* .teko-body {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
} */
.background-fade-out {
    transition: background-color 1s ease-in-out 4s; /* adjust the duration and timing function here */
    background-color: #000; /* or any other color you want */
}

h1 {
    font-family: "Teko", sans-serif;
    font-size: 10vw;
    color: black;
    position: relative;
    width: fit-content;
    display: inline-block;
    margin: 0;
}

.s,.o,.p,.h{
    transition: opacity 5s ease-out 4.5s;
}

.hide {
    opacity: 0!important;
    transition: opacity 1s ease-out 4.5s;
}

.s {
    top: 35vh;
    left: 45vw;
    animation: slide-in-s 1.5s ease-out;
}

.o {
    position: absolute;
    top: -100%;
    left: 51vw;
    animation: slide-in-o 1s ease-out forwards;
    animation-delay:1s;
    transform: rotate(90deg);
}

.p {
    position: absolute;
    top: 44vh;
    left: 100vw;
    transform: rotate(180deg);
    animation: slide-in-p 1s ease-out forwards;
    animation-delay: 2s;
}

.h {
    position: absolute;
    top: 100vh;
    left: 47vw;
    transform: rotate(270deg);
    animation: slide-in-h 1s ease-out forwards;
    animation-delay: 3s;
}

@keyframes slide-in-s {
    0% {
        left: -100%;
    }
    100% {
        left: 45vw;
    }
}

@keyframes slide-in-o {
    0% {
        top: -100%;
    }
    100% {
        top: 33vh;
    }
}

@keyframes slide-in-p {
    0% {
        left: 100vw;
    }
    100% {
        left: 53vw;
   }
}

@keyframes slide-in-h {
    0% {
        top: 100vh;
    }
    100% {
        top: 47vh;
    }
}

.topics {
    margin: 1px solid white;
    padding: 20px;
    margin-top: 5vh;
    margin-bottom:10vh;
    display: none;
    width: fit-content;
    height: 80vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.portfolio,.inspiration,.information {
    border: 1px solid white; /* or any other border style you prefer */
    transition: border-radius 0.1s; /* add this line */
    display: block;
    justify-content: center;
    align-items: center;
}

.portfolio h2, .inspiration h2, .information h2{
    margin-top: 55px;
    text-align: center;
    /* color:white; */
}

.portfolio:hover,
.inspiration:hover,
.information:hover,
.portfolio.active,
.inspiration.active,
.information.active {
  background-color: white;
  color: black;
}
  
.portfolio{
    background-color:black;
    width: 25vh;
    height: 25vh;
    padding: 10px;
    margin: -15px 0px 20px -10px;
}

.inspiration{
    background-color:black;
    width: 25vh;
    height: 25vh;
    padding: 10px;
    margin: 20px 0px 20px -10px;
}

.information{
    background-color:black;
    width: 25vh;
    height: 25vh;
    padding: 10px;
    margin: 20px 0px 20px -10px;
}

h2{
    font-family: 'teko', sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    color: black;
}

.content{
    /* background-color:white; */
    width: calc(100vw - 130%);
    height:90vh;
    z-index: 3;
    position:absolute;
    top:0;
    left: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    overflow-x: hidden; /* prevent horizontal scrolling */
    }

.card {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;/* add this to center the card content */
    max-width: 100%;
    position: relative; /* added */

}

.card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
  }
  
  /* Add this new rule to target video cards specifically */
  .card video {
    position: relative; /* make video a positioning context */
  }
  
  .card video + .card-title {
    top: 30%;
    left:35%; /* adjust top position to account for video controls */
  }

.card img, .card video{
    height: auto;
    width:200px;
    object-fit: cover;
}

.card h2{
    display:none;
    color:white;
    font-size: 10px;
    margin: 0;

}

.card:hover h2{
    display: block;
}

  .card:hover::before { /* added */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* black overlay with 70% opacity */
    transition: opacity 0.3s; /* added transition effect */
  }
  
  
  .card:hover.card-title {
    opacity: 1; 
    z-index:100;/* show the title on hover */
  }

.card h2{
    font-size: 2em;
    z-index: 10;
    color:white;
    position: absolute;
    text-align: center;
}

.card a {
    /* make the link wrap the video */
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .video-title {
    font-size: 18px;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    top: 45%;
    left:5%;
    width:200px;
  }

h3{
    color:white;
}

.portfolio span,
.inspiration span,
.information span {
    display: none;
}

.active span {
    display: block;
}

.portfolio.hidden,
.inspiration.hidden,
.information.hidden {
  visibility: hidden;
}

.portfolio.hidden span,
.inspiration.hidden span,
.information.hidden span {
  visibility: visible;
}

.portfolio span,
.inspiration span,
.information span{
    font-family: 'teko', sans-serif;
    margin-top: 20vh;
    text-align:center;
    text-transform:uppercase;
}

.portfolio span h3:hover,
.portfolio span h3:active,
.inspiration span h3:hover,
.inspiration span h3:active,
.information span h3:hover,
.information span h3:active{
    letter-spacing: .5em;
}

.inspiration span{
    margin-top: -40vh
}

.information span{
    margin-top:-62vh;
}

.lower{
    margin-top:42vh;
}

.category {
    cursor: pointer;
  }
  
  .category.active {
    letter-spacing: .5em;
  }

.content h3{
    font-family: 'teko', sans-serif;
    font-size: 3em;
    width: fit-content;
    margin:0;
    transition: color 3s;
}

#signature-image{
    width: 100%;
    height: auto;
    transform: rotate(-25deg);
    position: absolute;
    top: 5%;
    left: 5%;
    animation: fade-in-out 5s infinite alternate; /* animate the opacity for 2 seconds, infinitely, alternating between fade-in and fade-out */
}

@keyframes fade-in-out {
    0% {
      opacity: .15; /* start with 0 opacity */
    }
    50% {
      opacity: 1; /* reach 1 opacity at the midpoint */
    }
    100% {
      opacity: .15; /* end with 0 opacity */
    }
  }

  .information span h3.active {
    letter-spacing:.5em;
  }

.content p{
    font-family:
}

#resume{
   height: 80vh;
   width: auto;
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translateX(-50%);
   filter: grayscale(100%);
   transition: filter 0.4s ease; /* Add transition for smooth effect */

}

#resume:hover {
    filter: grayscale(0%);
}

.download-button{
    font-family: 'teko', sans-serif;
    background-color: transparent;
    font-size: 1.25em;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border:white 2px solid;
    
}
.download-button:hover{
    color: #accb82;
}
